
<% if (user_id === undefined) { %>


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/register">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="page-header"><a href="/">Shrink it!</a> <small>Login or Sign up to see what is in this.</small></h1>
  <p></p>

<% } else { %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/urls/new">Shorten</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <h1 class="page-header"><a href="/">Shrink it!</a> <small>Welcome back <%= user_id.name %>!</small></h1>
<% } %>



