
<h1><a href="/urls">Tiny App</a></h1>

<% if (user_id === undefined) { %>
  <p>
    <ul class="nav nav-pills">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </p>
<% } else { %>
  <p>
    <ul class="nav nav-pills">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/urls/new">Shorten a new URL</a></li>
    </ul>
  </p>
<% } %>

