
<% if (!user_id) { %>

  <span><%= user_id %></span>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/register">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="page-header"><a href="/">Shrink it!</a> <small>Login or Sign up to see what's this about.</small></h1>

<% } else { %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/urls">Home</a></li>
        <li><a href="/urls/new">New URL</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <h1 class="page-header"><a href="/">Shrink it!</a> <small>Welcome back <%= user_id.name %>!</small></h1>
<% } %>



