
<!DOCTYPE html>
<html>
<head>
  <% include partials/_bootstrapStyles %>
  <title></title>
</head>
<body>
  <form action="/register" method="POST">
    <label for="email">E-mail:</label>
    <input type="email" name="email" >
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
  </form>
</body>
</html>