
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/register" method="POST">
    <label for="email">E-mail:</label>
    <input type="email" name="email" required style="width: 250px;">
    <label for="password">Password:</label>
    <input type="password" name="password" required style="width: 100px;">
    <button type="submit">Submit</button>
  </form>
</body>
</html>