<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_bootstrapStyles %>
  <title>Tiny App</title>
</head>

<body>
<div class="container">
<% include partials/_header %>

  <div class="panel panel-primary">
    <div class="panel-body">

    </div>
    <form class="form-horizontal" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="longURL">Modify and submit</label>
        <div class="col-sm-3">
          <input class="form-control"  type="text" name="longURL" value="<%= urls[shortURL] %>" >
        </div>
        <div class="col-sm-3">
          <button class="btn btn-success" type="submit">Update</button>
        </div>
      </div>
      <div class="form-group">

      </div>

    </form>
  </div>

</div>
</body>

</html
