<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_bootstrapStyles %>
  </head>
  <body>
  <div class="container">
    <% include partials/_header %>

     <div class="panel panel-primary">
        <div class="panel-body">

        </div>
        <form class="form-horizontal" action="/urls" method="POST">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="longURL">Enter a URL</label>
            <div class="col-sm-3">
              <input class="form-control"  type="text" name="longURL" value="http://" >
            </div>
            <div class="col-sm-3">
              <button class="btn btn-warning" type="submit">Add</button>
            </div>
          </div>
          <div class="form-group">

          </div>

        </form>
      </div>


  </body>
  </div>
</html>