<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_bootstrapStyles %>
  <title>Tiny App</title>
</head>

<body>
<% include partials/_header %>
<ul>
  <li>Short URL: <%= shortURL %>
    <form action="/urls/<%= shortURL %>" method="POST">
      <label for="longURL">Type any updates to the URL:</label>
      <input type="text" name="longURL" value="<%= urls[shortURL] %>" style="width: 300px">
      <button type="submit">Update</button>
    </form>
  </li>
</ul>

</body>

</html
